In [2]:
import requests
import pandas as pd

## Use as superuser

In [37]:
BASE_HOST = 'http://127.0.0.1:8000'

# login in
credentials = {'username': 'admin', 'password':'1234'}

token = requests.post(BASE_HOST + '/api/v1/rest-auth/login/', data = credentials).json()

headers = { 'Authorization' : 'Token ' + token['key'] }
headers

{'Authorization': 'Token f03a9540ea53518e77d4a88885dcf7be79cdf0eb'}

In [17]:
# create a new account with balance 1500.00
account_data = {'balance':15000}
resp = requests.post(BASE_HOST + '/api/v1/accounts/', headers=headers, data=account_data).json()
payer_id = resp['id']
print(resp)

# create another account with balance 0.00
account_data = {'balance':0.0}
resp = requests.post(BASE_HOST + '/api/v1/accounts/', headers=headers, data=account_data).json()
receiver_id = resp['id']
print(resp)

# check that the two accounts were created
print(pd.DataFrame(requests.get(BASE_HOST + '/api/v1/accounts/', headers=headers).json()))

{'id': 3, 'balance': 15000.0}
{'id': 4, 'balance': 0.0}
   id  balance
0   1  14990.0
1   2     10.0
2   3  15000.0
3   4      0.0

In [38]:
# Details of account 1
print('\nAccount 1')
print(requests.get(BASE_HOST + '/api/v1/accounts/1', headers=headers).json())

# list of accounts
pd.DataFrame(requests.get(BASE_HOST + '/api/v1/accounts/', headers=headers).json())

Account 1
{'id': 1, 'balance': 14990.0}

   id  balance
0   1  14990.0
1   2     10.0
2   3  14980.0
3   4     20.0

In [19]:
# create a transaction to be processed between two accounts. Note that the transaction is created in "draft" mode, so there is no 
# change in the accounts balances.
# Make sure to refer to the proper unique id of the account
transaction_data = {'amount':10, 'note':'test transaction ok', 'payer':payer_id, 'receiver':receiver_id}
resp = requests.post(BASE_HOST + '/api/v1/transactions/', headers=headers, data=transaction_data).json()
transaction_id = resp['id']
print(resp)

# process the transaction
print(requests.get(BASE_HOST + '/api/v1/transactions/'+ str(transaction_id) +'/process/', headers=headers).json())

# check that the transaction is processed - it can be processed only once
print(requests.get(BASE_HOST + '/api/v1/transactions/'+ str(transaction_id)+'/', headers=headers).json())

# check that the balances of the accounts changed
print(requests.get(BASE_HOST + '/api/v1/accounts/' + str(payer_id) + '/', headers=headers).json())
print(requests.get(BASE_HOST + '/api/v1/accounts/' + str(receiver_id) + '/', headers=headers).json())

{'id': 6, 'amount': 10.0, 'note': 'test transaction ok', 'created': '2021-01-11T19:48:27.480549-03:00', 'updated': '2021-01-11T19:48:27.480549-03:00', 'status': 'draft', 'payer': 3, 'receiver': 4}
{'status': 'transaction processed'}
{'id': 6, 'amount': 10.0, 'note': 'test transaction ok', 'created': '2021-01-11T19:48:27.480549-03:00', 'updated': '2021-01-11T19:48:27.777498-03:00', 'status': 'processed', 'payer': 3, 'receiver': 4}
{'id': 3, 'balance': 14980.0}
{'id': 4, 'balance': 20.0}

In [21]:
# create a transaction which can not be processed because the balance of account payer is lower than the amount
transaction_data = {'id':11,'amount':200, 'note':'my transaction', 'payer':receiver_id, 'receiver':payer_id}
resp = requests.post(BASE_HOST + '/api/v1/transactions/', headers=headers, data=transaction_data).json()
transaction_id = resp['id']
print(resp)

# try to process the transaction
print(requests.get(BASE_HOST + '/api/v1/transactions/'+ str(transaction_id) +'/process/', headers=headers).json())

# check that the transaction was not processed
print(requests.get(BASE_HOST + '/api/v1/transactions/'+ str(transaction_id) +'/', headers=headers).json())

# check that the balance of the accounts didn't change
print(requests.get(BASE_HOST + '/api/v1/accounts/' + str(payer_id) + '/', headers=headers).json())
print(requests.get(BASE_HOST + '/api/v1/accounts/' + str(receiver_id) + '/', headers=headers).json())

{'id': 8, 'amount': 200.0, 'note': 'my transaction', 'created': '2021-01-11T19:49:44.152743-03:00', 'updated': '2021-01-11T19:49:44.152743-03:00', 'status': 'draft', 'payer': 4, 'receiver': 3}
{'status': 'transaction NOT processed'}
{'id': 8, 'amount': 200.0, 'note': 'my transaction', 'created': '2021-01-11T19:49:44.152743-03:00', 'updated': '2021-01-11T19:49:44.152743-03:00', 'status': 'draft', 'payer': 4, 'receiver': 3}
{'id': 3, 'balance': 14980.0}
{'id': 4, 'balance': 20.0}

In [33]:
# delete the unprocessed transaction
print(requests.delete(BASE_HOST + '/api/v1/transactions/6/', headers=headers))

# check that the transaction is no more in the database
pd.DataFrame(requests.get(BASE_HOST + '/api/v1/transactions/', headers=headers).json())

<Response [204]>

,id,amount,note,created,updated,status,payer,receiver
0,5,10.0,test transaction ok,2021-01-11T19:47:58.305924-03:00,2021-01-11T19:47:58.756432-03:00,processed,3,4
1,4,10.0,test transaction ok,2021-01-11T19:44:00.265072-03:00,2021-01-11T19:44:00.773262-03:00,processed,1,2
2,3,10.0,test transaction ok,2021-01-11T19:41:52.621433-03:00,2021-01-11T19:41:52.622160-03:00,draft,1,2
3,2,10.0,my transaction,2021-01-11T19:39:56.461756-03:00,2021-01-11T19:39:56.461756-03:00,draft,1,2

In [43]:
# django-filters allow to filter the objects according a query
# get only the processed transactions
pd.DataFrame(requests.get(BASE_HOST + '/api/v1/transactions/?status=processed', headers=headers).json())

,id,amount,note,created,updated,status,payer,receiver
0,5,10.0,test transaction ok,2021-01-11T19:47:58.305924-03:00,2021-01-11T19:47:58.756432-03:00,processed,3,4
1,4,10.0,test transaction ok,2021-01-11T19:44:00.265072-03:00,2021-01-11T19:44:00.773262-03:00,processed,1,2