In [13]:
import requests
import pandas as pd

In [15]:
BASE_HOST = 'http://127.0.0.1:5000'

# get list of cities
pd.DataFrame(requests.get(BASE_HOST + '/iot/api/cities/').json())

,url,name,latitude,longitude,radius
0,http://127.0.0.1:5000/iot/cities/1/,Rio de Janeiro,0.0,0.0,0.0
1,http://127.0.0.1:5000/iot/cities/2/,New York,0.0,0.0,0.0
2,http://127.0.0.1:5000/iot/cities/5/,Dubai,0.0,0.0,0.0
3,http://127.0.0.1:5000/iot/cities/9/,Jerusalem,100.0,200.0,1000.0
4,http://127.0.0.1:5000/iot/cities/10/,Sao Paulo,600.0,-200.0,1.0

In [16]:
# list of devices
pd.DataFrame(requests.get(BASE_HOST + '/iot/api/devices/').json())

,url,city_holder,latitude,longitude,status,enabled
0,http://127.0.0.1:5000/iot/devices/6/,"{'url': 'http://127.0.0.1:5000/iot/cities/5/',...",0.0,0.0,UM,False
1,http://127.0.0.1:5000/iot/devices/7/,"{'url': 'http://127.0.0.1:5000/iot/cities/5/',...",0.0,0.0,W,True
2,http://127.0.0.1:5000/iot/devices/8/,"{'url': 'http://127.0.0.1:5000/iot/cities/5/',...",0.0,0.0,W,False

In [17]:
# list of residents
pd.DataFrame(requests.get(BASE_HOST + '/iot/api/residents/').json())

   name         phone                                     url
0  John  21-3333-4444  http://127.0.0.1:5000/iot/residents/1/
1  Mary  21-3333-4444  http://127.0.0.1:5000/iot/residents/2/